@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');

*{
    font-family: "Sedan";
}

span{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
